.Program {
  width: 100%;
  margin-top: -5px;
  background-color: #F1EDE6;
  display: flex;
  justify-content: space-around;
  padding: 100px 40px;
  box-sizing: border-box;
  &__title {
    font-family: 'FuturaPT', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #333333;
  }
  &__box {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__svg {
    width: 440px;
    height: 300px;
  }
  &__curs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 35px 10px;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    box-shadow: 11px 11px 0 #DBD8D2;
    border-radius: 6px;
  }
  &__curs:not(:last-child) {
    margin-right: 40px;
  }
  &__info {
    margin-left: 20px;
    font-weight: 400;
    font-family: 'FuturaPT', sans-serif;
    color: #333333;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__content {
    max-width: 450px;
    width: 100%;
  }
}
.button{
  background: #333333;
  color: #ffffff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 14px 40px;
  font-weight: 500;
  transition: .5s;
  font-family: 'FuturaPT', sans-serif;
}
.button:hover{
  transition: .5s;
  background: #130E0E;
}