.App__fon {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  max-height: 900px;
  padding-bottom: 180px;
}

.App__content {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  max-height: 900px;
  height: 90vh;
}
.App__figure-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.App__figure-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.App__box {
  max-width: 1440px;
  width: 100%;
  z-index: 10;
  &-content-el {
    position: relative;
    max-width: 350px;
    display: flex;
    align-items: center;
  }
  &-info {
    position: relative;
    margin-top: 150px;
    h3 {
      position: absolute;
      top: -150px;
      color: #333333;
      margin: 0;
      text-transform: uppercase;
      width: 570px;
      font-family: 'Oswald', sans-serif;
      font-size: 48px;
    }
  }
  &-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-content {
    font-family: 'FuturaPT', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-description {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &-subDescription {
      font-size: 16px;
      color: #B6B6B6;
      text-transform: uppercase;
    }
  }
}
.App {
  &__header {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    &-logo {
      display: flex;
      font-family: 'Oswald', sans-serif;
      color: #333333;
      text-transform: uppercase;
      h2 {
        font-size: 46px;
        margin: 0;
      }
      img {
        margin-right: 20px;
        width: 65px;
        height: 65px;
      }
    }
    &-menu {
      font-family: 'FuturaPT', sans-serif;
      color: #333333;
      menu {
        font-size: 24px;
        list-style: none;
        display: flex;
        li:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .App{
    &__header {
      padding: 0 25px;
      &-figure {
        width: 100%;
      }
    }
    &__figure-1 {
      width: 400px;
      height: auto;
    }
    &__figure-2 {
      width: 500px;
    }
  }
}
