.Teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  h3 {
    font-family: "BadScript", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 95px;
    color: #263238;
  }
  &__content {
    z-index: 10;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    height: 760px;
    width: 100%;
    position: relative;
    &-item {
      position: relative;
      max-width: 390px;
    }
    &-info {
      font-family: 'FuturaPT', sans-serif;
      margin-left: 10px;
      h5 {
        margin: 25px 0 0 0;
        font-weight: 450;
        font-size: 20px;
        line-height: 26px;
        color: #B8B8B8;
      }
      h4 {
        margin: 10px 0 0 0;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        color: #FFFFFF;
      }
      p {
        font-weight: 450;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
      }
    }
    &-subFon {
      position: absolute;
      top: 10px;
      z-index: -1;
      left: 10px;
      width: 380px;
      border-radius: 8px;
      height: 317px;
      background-color: #FDD303;
    }
  }
  &__fon {
    position: absolute;
  }
  &__box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}